/* vim:fileencoding=utf-8:foldmethod=marker:ft=css
*/

/* Define colors (Catppuccin Mocha spectrum) */
/* {{{ */
@define-color background rgba(32, 32, 48, 0.9);
@define-color background1 rgba(32, 32, 48, 1);
@define-color background2 rgba(21, 21, 32, 1);
@define-color sepepator #313244;
@define-color warning #f38ba8;
@define-color caution #45475a;

/* Right Bar Spectrum */
@define-color color_cpu #fab387;      /* Peach */
@define-color color_nvidia #f9e2af;   /* Yellow */
@define-color color_ram #a6e3a1;      /* Green */
@define-color color_swap #94e2d5;     /* Teal */
@define-color color_disk #89dceb;     /* Sky */
@define-color color_network #74c7ec;  /* Sapphire */
@define-color color_audio_in #89b4fa; /* Blue */
@define-color color_audio_out #b4befe;/* Lavender */
@define-color color_lang #cba6f7;     /* Mauve */
@define-color color_clock #f5c2e7;    /* Pink */
@define-color color_notif #f2cdcd;    /* Flamingo */
@define-color color_power #f38ba8;    /* Red */

@define-color text #cdd6f4;           /* Light text for dark background */
@define-color text_dark #000000;
/* }}} */

/* Reset all styles */
/* {{{ */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
}

/* }}} */

/* Main bar keyframes */
/* {{{ */

/* Keyframes for main bar criticals */

@keyframes blink-urgent-workspace {
    to {
        color: @warning;
    }
}

@keyframes blink-critical-text {
    to {
        color: @sepepator;
    }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
    to {
        color: @sepepator;
    }
}

@keyframes blink-special-workspace {
    to {
        color: @window;
    }
}

/* }}} */

/* Main bar defaults */
/* {{{ */
#waybar.main {
    background: @background2;
    background-clip: padding-box;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12pt;
    font-weight: 600;
    color: @text_dark;
    border-radius: 0;
    border: 1px solid @color_audio_in;
}

#waybar.main button {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12pt;
    font-weight: 600;
    color: @text_dark;
}

/* }}} */

/* Main bar modules padding */
/* {{{ */
#cava,
#waybar.main #custom-headsetbattery,
#waybar.main #custom-nvidia,
#waybar.main #custom-weather,
#waybar.main #custom-battery,
#waybar.main #keyboard-state,
#waybar.main #network,
#waybar.main #battery,
#waybar.main #backlight,
#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #memory.swap,
#waybar.main #memory.ram,
#waybar.main #submap,
#waybar.main #pulseaudio,
#waybar.main #temperature,
#waybar.main #traym,
#waybar.main #window,
#waybar.main #disk,
#waybar.main #custom-notification,
#waybar.main #custom-power,
#custom-timer {
    padding-left: 8pt;
    padding-right: 8pt;
    margin-top: 1px;
    margin-bottom: 1px;
    background-clip: padding-box;
}

#waybar.main #custom-trayicon {
    font-size: 11pt;
    color: @text;
    font-style: italic;
    background: transparent;
    padding-right: 0pt;
    padding-left: 2pt;
    border-radius: 5pt 0pt 0pt 5pt;
    margin-left: 1px;
}

#waybar.main #custom-nvidia {
    margin-top: 1px;
    margin-bottom: 1px;
}

/* }}} */

/* Module colors & backgrounds (Diverse gradual spectrum) */
/* {{{ */

/* Section 1 (Background 1) */
#waybar.main #cpu {
    color: @color_cpu;
    background: @background1;
}

#waybar.main #temperature {
    color: @color_nvidia; /* Share with nvidia if re-enabled */
    background: @background1;
}

#waybar.main #custom-nvidia {
    color: @color_nvidia;
    background: @background1;
}

#waybar.main #memory.ram {
    color: @color_ram;
    background: @background1;
}

#waybar.main #memory.swap {
    color: @color_swap;
    background: @background1;
}

#waybar.main #disk {
    color: @color_disk;
    background: @background1;
}

#waybar.main #network.info {
    color: @color_network;
    background: @background1;
}

/* Section 2 (Background 2) */
#waybar.main #pulseaudio.input {
    color: @color_audio_in;
    background: @background2;
}

#waybar.main #pulseaudio.output {
    color: @color_audio_out;
    background: @background2;
}

/* Section 3 (Background 1) */
#waybar.main #clock {
    color: @color_clock;
    background: @background1;
    border-radius: 0;
}

/* Section 4 (Background 2) */
#waybar.main #custom-notification {
    color: @color_notif;
    background: @background2;
}

#waybar.main #custom-power {
    color: @color_power;
    background: @background2;
    border-radius: 0pt 5pt 5pt 0pt;
    padding-right: 12pt;
    margin-right: 1px;
}

/* }}} */

/* Window & Misc */
/* {{{ */
#waybar.main #window {
    color: @window;
    box-shadow: none;
    font-style: italic;
}

/* }}} */

/* Criticals & Animations */
/* {{{ */
#waybar.main #custom-nvidia.critical,
#waybar.main #custom-headsetbattery.critical,
#waybar.main #memory.swap.critical,
#waybar.main #memory.ram.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical {
    color: @warning;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-critical-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}

#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special.urgent {
    transition: all 0s ease;
    background-image: linear-gradient(
        -63.435deg,
        transparent 25%,
        @background2 25%,
        @background2 75%,
        transparent 75%
    );
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-urgent-workspace;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}

#waybar.main #custom-headsetbattery.off,
#waybar.main #pulseaudio.output.muted,
#waybar.main #pulseaudio.input.source-muted {
    color: @sepepator;
}

#waybar.main #custom-headsetbattery.low,
#waybar.main #custom-battery.warning,
#waybar.main #custom-battery.critical {
    color: @warning;
}

#waybar.main #custom-battery.charging {
    color: @misc;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-modifier-text;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}
/* }}} */

/* Workspaces */
/* {{{ */
#waybar.main #workspaces {
    padding-left: 20px;
    padding-right: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-image: linear-gradient(
        -243.435deg,
        @background2 17px,
        @sepepator 17px,
        @sepepator 21px,
        transparent 21px,
        transparent calc(100% -22px),
        @sepepator calc(100% -22px),
        @sepepator calc(100% - 18px),
        transparent calc(100% - 18px)
    );
    background-clip: padding-box;
}

#waybar.main #workspaces button {
    color: #45475a;
    background: transparent;
    border: 1.5px solid transparent;
    padding-left: 4pt;
    padding-right: 4pt;
    transition: all 0.25s ease;
    padding-right: 16px;
    padding-left: 16px;
    font-style: italic;
    margin-left: -17px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: linear-gradient(
        -63.435deg,
        transparent 25%,
        @background2 25%,
        @background2 75%,
        transparent 75%
    );
}

#waybar.main #workspaces button.visible {
    color: @text_dark;
    background-image: linear-gradient(
        -63.435deg,
        transparent 25%,
        @caution 25%,
        @caution 75%,
        transparent 75%
    );
}

#waybar.main #workspaces button.active {
    color: @window;
    background-image: linear-gradient(
        -63.435deg,
        transparent 24%,
        @sepepator 24%,
        @sepepator 28%,
        @background1 28%,
        @background1 73%,
        @sepepator 73%,
        @sepepator 76%,
        transparent 76%
    );
}

#waybar.main #workspaces button:hover {
    color: @window;
}

#waybar.main #workspaces button.special.active {
    transition: all 0s ease;
    border: 1.5px solid transparent;
    color: @sepepator;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: blink-special-workspace;
    animation-duration: 1s;
    animation-timing-function: steps(15);
}
/* }}} */

/* Spacers (Gradient Transitions) */
/* {{{ */
#waybar.main #custom-spacer1,
#waybar.main #custom-spacer2,
#waybar.main #custom-spacer3,
#waybar.main #custom-spacer4,
#waybar.main #custom-spacer5,
#waybar.main #custom-spacer6,
#waybar.main #custom-spacer-last {
    font-size: 12pt;
    font-weight: bold;
    color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 1px;
    margin-top: 1px;
}

#waybar.main #custom-spacer1 {
    background-image: linear-gradient(63.435deg, transparent 47.5%, @sepepator 47.6%, @sepepator 52.4%, @background1 52.5%);
}

#waybar.main #custom-spacer2 {
    background-image: linear-gradient(63.435deg, @background1 47.5%, @sepepator 47.6%, @sepepator 52.4%, @background2 52.5%);
}

#waybar.main #custom-spacer3 {
    background-image: linear-gradient(63.435deg, @background2 47.5%, @sepepator 47.6%, @sepepator 52.4%, @background1 52.5%);
}

#waybar.main #custom-spacer4 {
    background-image: linear-gradient(63.435deg, @background1 47.5%, @sepepator 47.6%, @sepepator 52.4%, @background2 52.5%);
}

#waybar.main #custom-spacer-last {
    background-image: linear-gradient(63.435deg, @background1 47.5%, @sepepator 47.6%, @sepepator 52.4%, @background2 52.5%);
}

#waybar.main #custom-spacer5,
#waybar.main #custom-spacer6 {
    background-image: linear-gradient(-63.435deg, transparent 47.5%, @sepepator 47.6%, @sepepator 52.4%, transparent 52.5%);
}
/* }}} */

/* Custom tray icon */
/* {{{ */
#waybar.main #custom-trayicon {
    font-size: 11pt;
    color: @text;
    font-style: italic;
    background: transparent;
    padding-right: 0pt;
    padding-left: 2pt;
}

#waybar.main #tray {
    padding-left: 4pt;
    padding-right: 4pt;
    background-clip: padding-box;
    margin-top: 1px;
    margin-bottom: 1px;
}

#waybar.main #tray * {
    color: @text;
}

#waybar.main #tray image {
    color: @text;
}

#waybar.main #tray > .passive {
    -gtk-icon-effect: none;
}

#waybar.main #tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @warning;
}
/* }}} */

/* Tooltip */
/* {{{ */
tooltip {
    background: @background;
    color: @text;
    border: 3px solid @caution;
    border-radius: 8px;
    font-weight: 500;
    font-family: "JetBrainsMono Nerd Font Propo";
}

#waybar.main #tray menu {
    background: @background;
    color: @text;
    border: 3px solid @caution;
    border-radius: 8px;
}
/* }}} */

/* Indicator bar battery module (Unchanged) */
/* {{{ */
#waybar.indicator {
    font-size: 10px;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

#waybar.indicator #custom-batteryindicator {
    border: 2.5px solid @sepepator;
    background: transparent;
    box-shadow: inset 0px 4px 4px -5px rgba(0, 0, 0, 0.5), inset 0px -4px 4px -5px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding-left: 2502px;
}

@keyframes blink-critical-battery { to { border-color: @warning; box-shadow: inset 0px 3px 4px -5px @warning, inset 0px -3px 4px -5px @warning; } }
@keyframes blink-warning-battery { to { border-color: @warning; box-shadow: inset 0px 3px 4px -5px @warning, inset 0px -3px 4px -5px @warning; } }
@keyframes blink-discharging-battery { to { border-color: @warning; box-shadow: inset 0px 3px 4px -5px @warning, inset 0px -3px 4px -5px @warning; } }
@keyframes blink-charging-battery { to { border-color: @misc; box-shadow: inset 0px 3px 4px -5px @misc, inset 0px -3px 4px -5px @misc; } }
@keyframes blink-full-battery { to { border-color: @misc; box-shadow: inset 0px 3px 4px -5px @misc, inset 0px -3px 4px -5px @misc; } }

#waybar.indicator #custom-batteryindicator.critical { animation: blink-critical-battery 1s alternate infinite steps(15); }
#waybar.indicator #custom-batteryindicator.warning { animation: blink-warning-battery 0.2s alternate 4 steps(15); }
#waybar.indicator #custom-batteryindicator.discharging { animation: blink-discharging-battery 0.3s alternate 2 steps(15); }
#waybar.indicator #custom-batteryindicator.charging { animation: blink-charging-battery 0.3s alternate 2 steps(15); }
#waybar.indicator #custom-batteryindicator.full { animation: blink-full-battery 0.2s alternate 4 steps(15); }
/* }}} */
